.strength-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.strength-level {
  background-color: #9ca3af;
  width: 42px;
  height: 5px;
  border-radius: 3px;
}

.gray {
  background-color: #9ca3af;
}

.red {
  background-color: #dc2626;
}

.yellow {
  background-color: #eab308;
}

.green {
  background-color: #16a34a;
}
