<div class="strength-wrapper">
  <div
    class="strength-level"
    [ngClass]="{
      gray: type === 'empty',
      red: type === 'short' || type === 'easy',
      yellow: type === 'medium',
      green: type === 'strong'
    }"
  ></div>
  <div
    class="strength-level"
    [ngClass]="{
      gray: type === 'empty' || type === 'easy',
      red: type === 'short',
      yellow: type === 'medium',
      green: type === 'strong'
    }"
  ></div>
  <div
    class="strength-level"
    [ngClass]="{
      gray: type === 'empty' || type === 'easy' || type === 'medium',
      red: type === 'short',
      green: type === 'strong'
    }"
  ></div>
</div>
<div style="margin-top: 10px" [ngSwitch]="type">
  <div *ngSwitchCase="'short'" style="color: #dc2626">
    Your password is too short
  </div>
  <div *ngSwitchCase="'easy'" style="color: #dc2626">Your password is easy</div>
  <div *ngSwitchCase="'medium'" style="color: #eab308">
    Your password is medium
  </div>
  <div *ngSwitchCase="'strong'" style="color: #16a34a">
    Your password is strong
  </div>
  <div *ngSwitchDefault></div>
</div>
