<div style="display: flex; flex-direction: column; align-items: center">
  <div>
    <p class="description-text">Enter the password</p>
    <div class="pswd-div">
      <input
        class="pswd-input"
        [(ngModel)]="password"
        (input)="checkPassword()"
        [type]="passwordType"
        placeholder="Password"
      />
      <button class="show-password" (click)="togglePasswordType()">
        <mat-icon
          style="color: #6b7280"
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="remove_red_eye"
        ></mat-icon>
      </button>
    </div>

    <p class="description-text">Strength level</p>
    <div class="strength-wrapper">
      <div class="strength-level" [ngStyle]="firstStyle"></div>
      <div class="strength-level" [ngStyle]="secondStyle"></div>
      <div class="strength-level" [ngStyle]="thirdStyle"></div>
    </div>
    <div style="margin-top: 10px" [ngStyle]="msgStyle">{{ msg }}</div>
  </div>
</div>
