.strength-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.strength-level {
  background-color: #9ca3af;
  width: 42px;
  height: 5px;
  border-radius: 3px;
}

.pswd-div {
  width: 350px;
  height: 40px;
  margin-bottom: 8px;
  padding: 3px 6px 3px 6px;
  border: solid 2px #0369a1;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pswd-input {
  height: 100%;
  width: 100%;
  outline: none;
  border: 0;
  background-color: none;
  font-size: 1.2rem;
  color: #6b7280;
}

.description-text {
  color: #4b5563;
  margin-bottom: 8px;
}

.show-password {
  background-color: #fff;
  border: none;
  vertical-align: middle;
  cursor: pointer;
  display: flex;
  align-items: center;
}
