<div style="display: flex; flex-direction: column; align-items: center">
  <form [formGroup]="passwordForm">
    <div class="form-group">
      <label class="description-text">Enter the password</label>
      <div class="pswd-div">
        <input
          formControlName="password"
          class="pswd-input form-control"
          [type]="passwordType"
          placeholder="Password"
        />
        <button class="show-password" (click)="togglePasswordType()">
          <mat-icon
            style="color: #6b7280"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="remove_red_eye"
          ></mat-icon>
        </button>
      </div>

      <label class="description-text">Strength level</label>
      <app-password-level [type]="complexity" />
    </div>
  </form>
</div>
